
.body{
    background: white;
    margin:0%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.livingroom{
    margin-top:20%;
    height: 50%;
    width:100%;
}

.sitchartimg{
    max-width: 100%;
    width:100vw;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    text-align: center;
}

#alert{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
  background-color: #e0ab67a2;
  text-align: center;

}


#alert #text{
  position: absolute;
  top:50%;
  left: 50%;
  height: 45%;
  border-radius: 20px;
  transform: translate(-50%,-50%);
}
.sofaseat {
    background-color: rgba(76, 203, 203, 0.4); /* Green */
    border: none;
    color: white;

    border-radius: 8px;
    width:25vw;
    padding-top: 12vw;
    padding-bottom: 12vw;;
  }
  #alert{
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    font-size: 24px;
  }
  .row{
    position: absolute;
    top: 60vh;
    left:50%;
    transform: translate(-45%,-50%);

    flex-wrap: nowrap;

  }

  .sofaseat:disabled{
      background-color: red;
      border: none;
    color: white;
    border-radius: 8px;

  }

  .load {
    /* width: 100%; */
    color: black;
    font-size: 58%;
    /* margin: 100px auto; */
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    /* text-indent: -9999em; */
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    transform: translateZ(0);
    margin-left: 28%;

 }


 @-webkit-keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }
  @keyframes load4 {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
  }


  .loadercont{
    margin-top: 60%;
    height: 8vw;
    padding-left: 10vw;
    // padding-top: 30%; 
     padding-bottom: 20%; 
  }
