
.body{
    background: white;
    margin:0%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.livingroom{
    margin-top:20%;
    height: 50%;
    width:100%;
}

.sitchartimg{
    max-width: 100%;
    width:100vw;
}

p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    text-align: center;
}

.sofaseat {
    background-color: rgba(76, 203, 203, 0.4); /* Green */
    border: none;
    color: white;

    border-radius: 8px;
    width:25vw;
    padding-top: 12vw;
    padding-bottom: 12vw;;
  }

  .row{
    position: absolute;
    top: 60vh;
    left:50%;
    transform: translate(-45%,-50%);

    flex-wrap: nowrap;

  }

  .sofaseat:disabled{
      background-color: red;
      border: none;
    color: white;
    border-radius: 8px;

  }