<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Document</title>

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="Welcome">Welcome!</div>

    <div class="row" id="row1">
      <div class="col-md-3">
        <img src="../../../assets/images/Rectangle 2.2.png" id="Photo1" />
      </div>
      <div class="col-md-3">
        <p class="Shop_Name">Coffee-Land</p>

        <img
          src="../../../assets/images/icons8-place-marker-24 5.png"
          class="Place_marker1"
        />
        <p class="Place_marker1_P">62 Martyrwn 87</p>

        <img src="../../../assets/images/icons8-phone-50 5.png" class="Phone" />
        <p class="Phone_P">24210-12345</p>
      </div>
      <div class="col-md-3">
        <p class="Reviews">Reviews</p>

        <p class="Number_Rating">4.7</p>

        <img src="../../../assets/images/Star.png" class="First_Star" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/icons8-star-half-empty-48 1.png" />

        <p class="Ratings">(123 ratings)</p>
      </div>

      <div class="col-md-3">
        <p class="Min_Time">Min.Time</p>

        <p class="Time">15'</p>

        <p class="Min_Order">Min.Order</p>

        <p class="Min_Order_Number">1,5€</p>
      </div>
    </div>

    <div class="row" id="row2">
      <div class="col-md-3">
        <img src="../../../assets/images/Rectangle 2.2 (1).png" id="Photo1" />
      </div>
      <div class="col-md-3">
        <p class="Shop_Name">Magevmata</p>

        <img
          src="../../../assets/images/icons8-place-marker-24 5.png"
          class="Place_marker1"
        />
        <p class="Place_marker1_P">Therissos</p>

        <img src="../../../assets/images/icons8-phone-50 5.png" class="Phone" />
        <p class="Phone_P">24210-12345</p>
      </div>
      <div class="col-md-3">
        <p class="Reviews">Reviews</p>

        <p class="Number_Rating">4.5</p>

        <img src="../../../assets/images/Star.png" class="First_Star" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/icons8-star-half-empty-48 1.png" />

        <p class="Ratings">(233 ratings)</p>
      </div>

      <div class="col-md-3">
        <p class="Min_Time">Min.Time</p>

        <p class="Time">30'</p>

        <p class="Min_Order">Min.Order</p>

        <p class="Min_Order_Number2">5€</p>
      </div>
    </div>

    <div class="row" id="row2">
      <div class="col-md-3">
        <img src="../../../assets/images/Rectangle 2.2 (2).png" id="Photo1" />
      </div>
      <div class="col-md-3">
        <p class="Shop_Name">H Pita tou Papu</p>

        <img
          src="../../../assets/images/icons8-place-marker-24 5.png"
          class="Place_marker1"
        />
        <p class="Place_marker1_P">Aigaiou 3</p>

        <img src="../../../assets/images/icons8-phone-50 5.png" class="Phone" />
        <p class="Phone_P">24210-12345</p>
      </div>
      <div class="col-md-3">
        <p class="Reviews">Reviews</p>

        <p class="Number_Rating2">4</p>

        <img src="../../../assets/images/Star.png" class="First_Star" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star (1).png" />

        <p class="Ratings">(50 ratings)</p>
      </div>

      <div class="col-md-3">
        <p class="Min_Time">Min.Time</p>

        <p class="Time">32'</p>

        <p class="Min_Order">Min.Order</p>

        <p class="Min_Order_Number2">4€</p>
      </div>
    </div>

    <div class="row" id="row2">
      <div class="col-md-3">
        <img src="../../../assets/images/Rectangle 2.2 (3).png" id="Photo1" />
      </div>
      <div class="col-md-3">
        <p class="Shop_Name">Gyrogonia</p>

        <img
          src="../../../assets/images/icons8-place-marker-24 5.png"
          class="Place_marker1"
        />
        <p class="Place_marker1_P">Dodekanissou 20</p>

        <img src="../../../assets/images/icons8-phone-50 5.png" class="Phone" />
        <p class="Phone_P">24210-12345</p>
      </div>
      <div class="col-md-3">
        <p class="Reviews">Reviews</p>

        <p class="Number_Rating2">5</p>

        <img src="../../../assets/images/Star.png" class="First_Star" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />

        <p class="Ratings">(233 ratings)</p>
      </div>

      <div class="col-md-3">
        <p class="Min_Time">Min.Time</p>

        <p class="Time">45'</p>

        <p class="Min_Order">Min.Order</p>

        <p class="Min_Order_Number">3,5€</p>
      </div>
    </div>

    <div class="row" id="row2">
      <div class="col-md-3">
        <img src="../../../assets/images/Rectangle 2.2 (4).png" id="Photo1" />
      </div>
      <div class="col-md-3">
        <p class="Shop_Name">Xoboli</p>

        <img
          src="../../../assets/images/icons8-place-marker-24 5.png"
          class="Place_marker1"
        />
        <p class="Place_marker1_P">Athinas 19</p>

        <img src="../../../assets/images/icons8-phone-50 5.png" class="Phone" />
        <p class="Phone_P">24210-12345</p>
      </div>
      <div class="col-md-3">
        <p class="Reviews">Reviews</p>

        <p class="Number_Rating">4.5</p>

        <img src="../../../assets/images/Star.png" class="First_Star" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/Star.png" />
        <img src="../../../assets/images/icons8-star-half-empty-48 1.png" />

        <p class="Ratings">(233 ratings)</p>
      </div>

      <div class="col-md-3">
        <p class="Min_Time">Min.Time</p>

        <p class="Time">25'</p>

        <p class="Min_Order">Min.Order</p>

        <p class="Min_Order_Number">7,5€</p>
      </div>
    </div>
  </body>
</html>
