<div class="back">
    <img class="backimg" src="../../../assets/backburgerscut.jpg" />
    <p class="instruction">Choose up to 3 restaurants</p>
    <!-- <div class="restaus"> -->
    <nav>
        <ul class="restauslist">
            <label class="restlistitem" *ngFor="let shop of shops">
                <input type="checkbox">
                <span class="checkmark">
                <div class="restavatar"><img class="avatar" src="{{shop.imgURL}}" /></div>
                <div class="resinfo">
                    <p class="restitle">{{shop.name}}</p>
                    <p class="rates">
                        <span style='font-size:15px; color:yellow;'>&#9733;</span>
                        {{shop.ratingVal}}<font color="lightgrey">{{shop.ratingsAmount}}</font>
                    </p>

                    <div class="min">
                        <p class="mintext">{{shop.Min_Order}} &nbsp; {{shop.MinTime}}</p>
                    </div>
               
                </div>
                <div class="menubutt">
                    <button class="yellowmenubutt" [routerLink]="['/', 'restmenu', shop.name]">Menu</button>
                </div>
            <!-- </li> -->
        </span>
    </label>

        </ul>
    </nav>
    <!-- </div> -->
    <div class="floatback"><button class="yellowbutt" (click)="callServer()">Vote</button>
        <div>
        </div>