<ul class="nav">
    

    <li class="nav-item ">
      <a class="btn btn-dark nav-link" routerLink="/tv" routerLinkActive="active">TV</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-dark nav-link" routerLink="/Wall" routerLinkActive="active">WALL</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-dark nav-link" routerLink="/tableStart" routerLinkActive="active">TABLE</a>
    </li>
    <li class="nav-item">
      <a class="btn btn-dark nav-link" routerLink="/sitchart" routerLinkActive="active">PORTABLE</a>
    </li>

  </ul>

  <style>
    .nav{
      left:50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
    }
  </style>
