<div class="back">
        
        <img class="backarr" src="../../../assets/back.png"  [routerLink]="['/voteres']" />
        <img class="backimg" src="../../../assets/taverna.jpg"/>
        <p class="instruction">Krassas</p>
        
        <nav class="scroll">
            <!-- <ul class="menulist"> -->
                <!-- <li class="menuitem"> -->
                    <button class="accordion">Gyros</button>
                    <div class="panel" style="max-height: 250px;">
                        <ul class="menulist" style="list-style: none;">
                            <li class="catitem" *ngFor="let item of pites"  [routerLink]="['/', 'itemdetails', item.name]">
                              <div class="item">
                                {{item.name}}<br>
                                <!-- <font color="red">cheese, tomato, pepperoni, pepper</font> -->
                                <p class="ingr">{{item.item_details}}</p>

                              </div>
                            <div class="price">{{item.price}}€</div><br>
                            </li>
                                
                        </ul>
                    </div>
                    <button class="accordion">Pizza</button>
                        <div class="panel">
                            <ul class="menulist" style="list-style: none;">
                                <li class="catitem"  *ngFor="let item of pizzes" [routerLink]="['/', 'itemdetails', item.name]">
                                  <div class="item">
                                    {{item.name}}<br>
                                    <p class="ingr">{{item.item_details}}</p>

                                  </div>
                                <div class="price">{{item.price}}€</div><br>
                                </li>
                               
                            </ul>
                        </div>
                        
                        <button class="accordion">Salads</button>
                        <div class="panel">
                          <ul class="menulist" style="list-style: none;">
                            <li class="catitem"  *ngFor="let item of salads" [routerLink]="['/', 'itemdetails', item.name]">
                              <div class="item" >
                                {{item.name}}<br>
                                <p class="ingr">{{item.item_details}}</p>

                              </div>
                            <div class="price">{{item.price}}€</div><br>
                            </li>
                           
                        </ul>                        
                      </div>
                        <button class="accordion">Pasta</button>
                        <div class="panel">
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p> -->
                        </div>
                        <button class="accordion">Desserts</button>
                        <div class="panel">
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore .</p> -->
                        </div>
                <!-- </li> -->
              <!-- </ul> -->
        </nav>
        <!-- <div class="cart">
            <div class="dot">0</div>
            <div class="yourcart">Your cart</div>
          </div> -->
         <ami-fullstack-cart></ami-fullstack-cart>
    </div>