body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;       /* body takes whole viewport's height */
}

#Your_Order{
  text-align: center;
  color: white;
  padding-top: 2.5vh;
}

main {
  flex: 1;
  background-color: #E5E5E5;
}
#push_down{
  margin-top: 5vh;
}

#Product_Details{
  width: 85vw;
  margin-left: 7vw;
}

#Product_Name{
  color: #0d0d0d;
  margin-left: 13vw;
}

#Price{
  font-size: medium;
  text-align: right;
}
#Details{
  margin-left: 14vw;
  font-size: small;
  color: #8e8e8e;
}