body {
    background-image: url("../../../assets/images/background-frame-with-fast-food-and-dessert-vector-20829847\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  #Your_Order {
    position: fixed;
    color: white;
    margin-left: 40%;
    margin-top: 5%;
  }
  
  #Main_Content {
    margin-top: 15%;
    width: 100vw;
    height: 92.7vh;
    background-color: white;
  }
  
  #three_persons {
    margin-top: 16%;
    margin-left: 5%;
  }
  
  #Caesar {
    color: black;
    font-size: 110%;
    margin-left: 14%;
    margin-top: -6%;
  }
  
  #Caesar_info {
    margin-top: -2%;
    margin-left: 16%;
    color: gray;
  }
  
  #Primary_Value {
    margin-left: 80%;
    margin-top: -20.5%;
  }
  
  #Secondary_Value {
    margin-left: 85%;
    margin-top: -8.3%;
    color: gray;
  }
  
  #third {
    margin-top: 25%;
  }
  
  #Line {
    margin-top: 15%;
  }
  
  #total {
    margin-top: 5vw;
    margin-left: 5vh;
    color: black;
  }
  
  #Total_Price {
    margin-top: -4vh;
    margin-left: 75vw;
    color: black;
  }
  
  .button {
    background-color: orange;
    height: 5vh;
    width: 42vw;
    padding: 0.5em 1em;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
  }
  
  #Pay_Button {
    margin-top: 36vh;
    margin-left: 7vw;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1; /*watch order priority, imagine 3d , the higher , the more visible it gets*/
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal_content {
    border-radius: 8px 8px 8px 8px;
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 90vw;
    height: 80vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }
  
  #Choice {
    border-radius: 8px 8px 0px 0px;
    width: 90vw;
    height: 11.5vh;
    background-color: white;
  }
  
  .Name {
    color: black;
    padding-top: 5vh;
    padding-left: 24vw;
  }
  
  #User1_Photo {
    margin-top: -10vh;
    margin-left: 4vw;
  }
  
  .Value {
    position: fixed;
    margin-top: -7vh;
    margin-left: 70vw;
    color: black;
  }
  
  #Choice2 {
    width: 90vw;
    height: 11.5vh;
    background-color: white;
  }
  
  #User2_Photo {
    margin-top: -10vh;
    margin-left: 4vw;
  }
  
  .Proceed {
    margin-top: 49vh;
    width: 45vw;
    margin-left: 21vw;
    height: 5vh;
    background-color: rgb(230, 181, 59);
    border-radius: 8px 8px 8px 8px;
    text-align: center;
  }
  
  #Proceed_text {
    padding-top: 1vh;
    color: black;
  }
  
  
  
  #Total_Price_Bill2{
      margin-top: -4vh;
      margin-left: 75vw;
      color: black;
    
  }