<!DOCTYPE html>
<html lang="en">

<body>

  <p id="Your_Order"> Your Order </p>


  <main>
    <div id="push_down"></div>


    <div *ngFor="let orderedItem of users[0].orderedItems" id="product">
      <div class="row" id="Product_Details">

        <div class="col-sm-1" id="Product_share">
          <div *ngFor="let icon of orderedItem.getShares()" id="icon">
            <img src="./../../../assets/images/person 1.png">
          </div>

        </div>
        <div class="col-sm-4" id="Product_Name">1x {{orderedItem.name}}</div>

        <div class="col-sm-2" *ngIf="orderedItem.sharedWith.length == 1; else elseBlock">
          <div id="Price">{{orderedItem.price}}€</div>
        </div>
        <ng-template #elseBlock>
          <div class="col-sm-2" id="Price">{{orderedItem.price}}€ /<span style="opacity: 0.5;">
              {{orderedItem.price * orderedItem.sharedWith.length}}€</span>
          </div>
        </ng-template>

      </div>
      <p id="Details"> {{orderedItem.item_details}}</p>
    </div>

    <div class="row" id="line"></div>


    <div class="row" id="Total">
      <div class="col-sm-5">
        <p id="Total_p">
          Total
        </p>
      </div>
      <div class="col-sm-4" id="Total_Price">{{users[0].getTotalPrice()}}€</div>
    </div>


    <div class="row" id="Buttons">
      <div class="col-sm-5">
        <button class="btn">Pay</button>

      </div>
      <div class="col-sm-5" style="text-align: right;">
        <button class="btn" (click)="open(content)">Treat</button>
      </div>
    </div>



    <ng-template #content let-modal>

      <div class="modal-body" id="modal_body">
        <div class="row" id="Other_Users">
          <div class="col-sm-3">
            <img src="../../../assets/Giorgos.png" id="photo">
          </div>
          <div class="col-sm-3" id="Name_col">
            <h5>Giorgos</h5>
          </div>
          <div class="col-sm-3" id="Name_col">
            <h5 id="Price_modal">{{users[1].getTotalPrice()}}€</h5>
          </div>
        </div>
        <div class="row" id="line2"></div>


        <div class="row" id="Other_Users">
          <div class="col-sm-3">
            <img src="../../../assets/Kostas.png" id="photo">
          </div>
          <div class="col-sm-3" id="Name_col">
            <h5>Kwstas</h5>
          </div>
          <div class="col-sm-3" id="Name_col">
            <h5 id="Price_modal">{{users[2].getTotalPrice()}}€</h5>
          </div>
        </div>
        <div class="row" id="line2"></div>


      </div>

      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
        id="modal_Procceed">Procceed To Payment</button>

    </ng-template>

    <!--<hr>

    <pre>{{closeResult}}</pre>
    -->


  </main>
</body>

</html>