
body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/images/background-frame-with-fast-food-and-dessert-vector-20829847\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Welcome {
    text-align: center;
    margin-top: 0.5%;
    margin-left: 3%;
    color: white;
    font-weight: bolder;
    font-size: 450%;
  }
  
  #Photo1 {
    height: 6.2vw;
    margin-left: 17%;
    margin-top: 11%;
  }
  
  #row1 {
    width: 95.5vw;
    background-color: #fffbf4;
    margin-left: 2.5%;
    margin-top: 4.5%;
    height: 12vw;
    border-radius: 8px 8px 0 0;
    margin-right: 0;
  }
  
  #row2 {
    width: 95.5vw;
    background-color: #fffbf4;
    margin-left: 2.5%;
    margin-top: 0.1%;
    height: 12vw;
  }
  
  .Shop_Name {
    color: black;
    font-size: 250%;
    margin-left: -32%;
    margin-top: 8.8%;
  }
  
  .Place_marker1 {
    margin-left: -32%;
    margin-top: 1.5%;
  }
  
  .Phone {
    margin-left: -32%;
  }
  
  .Place_marker1_P {
    margin-top: -6.5%;
    margin-left: -24.5%;
    font-size: 160%;
    color: #858585;
  }
  
  .Phone_P {
    margin-top: -6.5%;
    margin-left: -24.5%;
    font-size: 160%;
    color: #858585;
  }
  
  .Reviews {
    font-size: 180%;
    margin-left: -26%;
    margin-top: 6%;
  }
  .Number_Rating {
    font-size: 180%;
    margin-left: -18%;
    margin-top: 2%;
    font-weight: bold;
  }
  
  .First_Star {
    margin-left: -31%;
    width: 28.09;
  }
  
  .Ratings {
    margin-top: 2.5%;
    font-size: 137%;
    margin-left: -25%;
    color: #858585;
  }
  
  .Min_Time {
    font-size: 180%;
    margin-left: -45%;
    margin-top: 6%;
  }
  
  .Time {
    font-size: 180%;
    margin-left: -37%;
    margin-top: 2%;
    font-weight: bold;
  }
  
  .Min_Order {
    font-size: 180%;
    margin-top: -21.5%;
    margin-left: 30%;
  }
  
  .Min_Order_Number {
    font-size: 180%;
    font-weight: bold;
    margin-top: -0.5%;
    margin-left: 38%;
  }
  
  .Min_Order_Number2 {
    font-size: 180%;
    font-weight: bold;
    margin-top: -0.5%;
    margin-left: 40%;
  }
  
  .Number_Rating2 {
    font-size: 180%;
    margin-left: -16%;
    margin-top: 2%;
    font-weight: bold;
  }
  