<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css", href="Item_selection_table_ready.css" >
</head>
<body>
    <div class="row">
        <div class="col-sm-4" > <!-- div for george-->
            <div>
                    <img id="firstpic" src="../../../assets/user.png">
            </div>
            <div class="dot" id="maindot">
            </div>
            <div>
                <p id="name">Giorgos</p>
            </div>
            <div class="dot" id="checkdot"></div>
            <div>
                <img id="checksymbol" src="../../../assets/check-symbol.png">
            </div>
        </div>
       
        <div class="col-sm-4"> <!-- div for despoina-->
            <div>
                    <img id="firstpic" src="../../../assets/user.png">
            </div>
            <div class="dot" id="maindot_Des">
            </div>
            <div>
                <p id="name_Des">Despoina</p>
            </div>
            
            <div class="dot" id="checkdot"></div>
            <div>
                <img id="checksymbol" src="../../../assets/check-symbol.png">
            </div>
            <p id="Vote_for">Select your items!</p>

        </div> 
            

        <div class="col-sm-4"> <!-- div for kwstas-->
            <div>
                    <img id="firstpic" src="../../../assets/user.png">
            </div>
            <div class="dot" id="maindot_kwst">
            </div>
            <div>
                <p id="name">Kwstas</p>
            </div>
            <div class="dot" id="checkdot"></div>
            <div>
                <img id="checksymbol" src="../../../assets/check-symbol.png">
            </div>
        </div>
            
        </div> 

    </div>
    
</body>
</html>