.bg_image {
    background-image: url("../../../assets/images/Souvlaki_Background.jpg");
  
    /* Add the blur effect */
    filter: blur(5px);
  
    /* Full height */
    height: 100vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    margin-top: -17%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  
  #p1 {
    margin-top: 3%;
    font-size: 400%;
    color: black;
  }
  
  #p2 {
    margin-top: 2%;
    font-size: 500%;
    color: black;
    font-weight: bold;
  }
  
  #photo {
    margin-top: 5%;
    height: 35vh;
    width: 30vw;
    border-radius: 8px 8px 8px 8px;
  }
  