#Tv{
        font-size: 40px;
        color:white;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,150%);
    }
#Table{
        font-size: 40px;
        color:white;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,150%);

}
#info{
        font-size: 40px;
        color:white;
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%,225%);

}

*{
        overflow: hidden;
}