.modal-content{
position: fixed;
display: flex;
/* flex-direction: column; */
width: 87%;
pointer-events: auto;
background-color:#FFFAEE;
background-clip: padding-box;
border: 1px solid rgba(0,0,0,.2);
border-radius: .3rem;
outline: 0;
top: 11%;
left: 6%;
height: 79%;
}


#usershare2{
    display: flex;
    border-bottom: 1px solid #FFCF55;
    height:18%;
}


#usershare{
    display: flex;
    border-bottom: 1px solid #FFCF55;
    height:18%;
}

#usershare:checked{
    display: flex;
    border-bottom: 1px solid #FFCF55;
    height:18%;
    background: #FFDB7E;
}

.modal-body{
    padding:0%;
}

.userav{
    width: 100%;
    height: 74%;
    margin-top: 20%;
    margin-left: 20%;

}

.divuserav{
    width:20%;
    height:100%;
    margin-right: 10%;
}

.sharename{
    width:70%;
    height: 100%;
}

.psharename{
    font-size: 16px;
    margin-top: 15%;
}





.container {
    display: block;
    position: relative;
     padding-left: 0%; 
     padding-right: 0%; 

     margin-bottom: 0%; 
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    display: flex;
    height: 25vw;
    width: 100%;
    border-bottom: 1px solid #FFCF55;

    // background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    // background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #FFDB7E;
  }
  
//   /* Create the checkmark/indicator (hidden when not checked) */
//   .checkmark:after {
//     content: "";
//     position: absolute;
//     display: none;
//   }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .donebutt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 22%;
    position: fixed;
    width: 38%;
    color: black;
    background: #FFCC48;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-align: center;
    top: 81%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    transition: all 0.1s;
    border: none;
  }