<!-- The Modal -->
<div class="modal"  id="myModal">
        <div class="modal-dialog ">
          <div class="modal-content">

            <div class="modal-body ">

                
                    <label class="container">
                            <input type="checkbox">
                                <span class="checkmark">
                                        <!-- <div id="usershare2"> -->
                                                <div class="divuserav"><img class="userav" src="../../../assets/Giorgos.png"></div>
                                                <div class="sharename"><p class="psharename">Giorgos</p></div>
                                            <!-- </div> -->
                                </span>
                        </label>
                        <label class="container">
                            <input type="checkbox" >
                                <span class="checkmark">
                                        <!-- <div id="usershare2"> -->
                                                <div class="divuserav"><img class="userav" src="../../../assets/Kostas.png"></div>
                                                <div class="sharename"><p class="psharename">Kostas</p></div>
                                            <!-- </div> -->
                                </span>
                        </label>
                        <button class="donebutt" (click)="hideModal()">Done</button>

            </div>
      
          
              <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
          </div>
        </div>
      </div>