<div class="back" >
        
        <img class="backarr" src="../../../assets/back.png"  [routerLink]="['/restmenu']"/>
        <img class="backimg" src="../../../assets/margarita.png"/>
        <p class="instruction">Pizza Margarita</p>
        
        <nav class="scroll">
            <p class="ingrtitle">Choose Dough *</p>
                <ul class="menulist" >
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check" checked><span class="label-text">Thin Dough</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check" ><span class="label-text">Rye Dough</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check" ><span class="label-text">Dough Dough</span></label>
                                </div>         
                        </li>
                </ul>
                <p class="ingrtitle">Ingredients</p>
                <ul class="menulist" >
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check3" checked><span class="label-text">Philadelphia</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check2" checked><span class="label-text">Mozzarela</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check2" checked ><span class="label-text">Cheddar</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check2" checked ><span class="label-text">Bacon</span></label>
                                </div>         
                        </li>
                </ul>
                <p class="ingrtitle">Add extra</p>
                <ul class="menulist" >
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check3" ><span class="label-text">Mushrooms</span></label>
                                </div>         
                        </li>
                        <li class="ingrbar">
                                <div class="form-check">
                                    <label><input type="checkbox" name="check2" ><span class="label-text">Salami</span></label>
                                </div>         
                        </li>
                      
                </ul>

                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="showModal()">
                        Open modal
                      </button> -->
                      <app-modal></app-modal>
              
    
        </nav>
       
        <div class="floatback">
            <button class="yellowbutt" type="button" data-toggle="modal" data-target="#myModal" (click)="showModal()">Share with</button>
            <button class="yellowbutt2">Add to cart</button>
        <div>
    



            


        </div>