body {
    width: 99vw;
    background-image: url("../../../assets/images/background-frame-with-fast-food-and-dessert-vector-20829847\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Main_Row {
    width: 99vw;
  }
  
  #Giorgos {
    margin-top: 4.5%;
    margin-left: 3.5%;
    height: 50vw;
    background-color: #fffbf4;
    width: 30.8vw;
    border: 1px solid #0057ff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .Name {
    margin-top: 5%;
    font-size: 250%;
    text-align: center;
    font-weight: bold;
  }
  
  .Horizotical_line {
    margin-top: 4%;
    margin-left: -1.8%;
    width: 103.5%;
    border-top: 1px solid #0057ff;
  }
  
  .Blue_Eclipse {
    margin-top: 10%;
    margin-left: 4%;
    height: 1.5%;
  }
  .Pink_Eclipse {
    margin-top: 10%;
    margin-left: 2%;
    height: 1.5%;
  }
  .Green_Eclipse {
    margin-top: 10%;
    margin-left: 2%;
    height: 1.5%;
  }
  .Item_Name {
    font-weight: normal;
    font-size: 290%;
    margin-top: -3%;
    line-height: 28px;
    margin-left: 21%;
  }
  
  .Price {
    font-weight: bold;
    font-size: 300%;
    line-height: 28px;
    margin-left: 88%;
    margin-top: -4%;
  }
  
  .Solo_Eclipse {
    margin-top: 10%;
    margin-left: 4%;
    height: 2%;
  }
  
  .Price2 {
    font-weight: bold;
    font-size: 300%;
    line-height: 28px;
    margin-left: 84.1%;
    margin-top: -4%;
  }
  
  #Despoina {
    margin-top: 4.5%;
    margin-left: 1.4%;
    height: 50vw;
    background-color: #fffbf4;
    width: 30.8vw;
    border: 1px solid #ff00f5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  #Horizotical_line_Despoina {
    margin-top: 4%;
    margin-left: -1.8%;
    width: 103.5%;
    border-top: 1px solid #ff00f5;
  }
  
  #Kwstas {
    margin-top: 4.5%;
    margin-left: 1.4%;
    height: 50vw;
    background-color: #fffbf4;
    width: 30.8vw;
    border: 1px solid #00791b;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  #Horizotical_line_Kwstas {
    margin-top: 4%;
    margin-left: -1.8%;
    width: 103.5%;
    border-top: 1px solid #00791b;
  }
  
  .Total {
    font-weight: normal;
    font-size: 290%;
    line-height: 28px;
    margin-top: 74%;
    margin-left: 10%;
  }
  
  .Total_Sum {
    font-weight: bold;
    font-size: 290%;
    line-height: 28px;
    margin-left: 81.5%;
    margin-top: -4%;
  }
  
  .Total_Sum2 {
    font-weight: bold;
    font-size: 290%;
    line-height: 28px;
    margin-left: 85%;
    margin-top: -4%;
  }
  
  .Total2 {
    font-weight: normal;
    font-size: 290%;
    line-height: 28px;
    margin-top: 91%;
    margin-left: 10%;
  }
  