<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="stylesheet" type="text/css" , href="Tv_Payment.css" /> -->

    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="row" id="Main_Row">
      <div class="col-md-4" id="Giorgos">
        <p class="Name">Giorgos</p>

        <hr class="Horizotical_line" />

        <img src="../../../assets/images/Ellipse 11.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 28.png" class="Green_Eclipse" />
        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <br />

        <img src="../../../assets/images/Ellipse 12.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Pita Gyro Kotopoulo</p>
        <p class="Price2">3,5€</p>

        <br />

        <img src="../../../assets/images/Ellipse 11.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <p class="Item_Name">1x Pizza Margarita</p>
        <p class="Price">8€</p>

        <br />

        <img src="../../../assets/images/Ellipse 12.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Krema sokolata banana</p>
        <p class="Price">6€</p>

        <p class="Total">Total</p>

        <p class="Total_Sum">20,5€</p>
      </div>

      <div class="col-md-4" id="Despoina">
        <p class="Name">Despoina</p>

        <hr id="Horizotical_line_Despoina" />

        <img src="../../../assets/images/Ellipse 27.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 11.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 28.png" class="Green_Eclipse" />
        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <br />

        <img src="../../../assets/images/Ellipse 14.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Pizza Anana</p>
        <p class="Price2">8,5€</p>

        <br />

        <img src="../../../assets/images/Ellipse 27.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 11.png" class="Pink_Eclipse" />
        <p class="Item_Name">1x Pizza Margarita</p>
        <p class="Price">8€</p>

        <p class="Total2">Total</p>

        <p class="Total_Sum">19,5€</p>
      </div>

      <div class="col-md-4" id="Kwstas">
        <p class="Name">Kwstas</p>

        <hr id="Horizotical_line_Kwstas" />

        <img src="../../../assets/images/Ellipse 28.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 11.png" class="Green_Eclipse" />
        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <br />

        <img src="../../../assets/images/Ellipse 18.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Fileto Kotopoulo merida</p>
        <p class="Price2">7,5€</p>

        <br />

        <img src="../../../assets/images/Ellipse 18.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Coca-Cola</p>
        <p class="Price2">1,5€</p>

        <p class="Total2">Total</p>

        <p class="Total_Sum2">12€</p>
      </div>
    </div>
  </body>
</html>
