body {
  width: 99vw;
  height: 90vh;
  background-image: url("../../../assets/backburgers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#Customer1{
  position: auto;  
  margin-top: 4.5%;
  margin-left: 2vw;
  height: 50vw;
  background-color: #fffbf4;
  width: 30.8vw;
  border: 1px solid #0057ff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#Customer2{
  position: fixed;
  margin-top: -88.7vh;
  margin-left: 34vw;
  height: 50vw;
  background-color: #fffbf4;
  width: 30.8vw;
  border: 1px solid #ff00f5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#Customer3{
  margin-top: -88.7vh;
  margin-left: 66vw;
  position: fixed;
  height: 50vw;
  background-color: #fffbf4;
  width: 30.8vw;
  border: 1px solid #00791b;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Name {
  margin-top: 3.3vh;
  font-size: 250%;
  text-align: center;
  font-weight: bold;
}

#Horizotical_line {
  margin-top: 4vh;
  margin-left: 0vw;
  width: 30.65vw;
  border-top: 1px solid #0057ff;
}

#Horizotical_line_Despoina{
  border-top: 1px solid #ff00f5;
  margin-top: 4vh;
  margin-left: 0vw;
  width: 30.65vw;
}

#Horizotical_line_Kwstas{
  margin-top: 4vh;
  margin-left: 0vw;
  width: 30.65vw;
  border: 1px solid #00791b;
}

.Blue_Eclipse {
  margin-top: 10%;
  margin-left: 4%;
  height: 1.5%;
}
.Pink_Eclipse {
  margin-top: 10%;
  margin-left: 2%;
  height: 1.5%;
}
.Green_Eclipse {
  margin-top: 10%;
  margin-left: 2%;
  height: 1.5%;
}

.Item_Name {
  font-weight: normal;
  font-size: 38px;
  margin-top: -2.5vh;
  line-height: 25px;
  margin-left: 21%;
}

.Price {
  font-weight: bold;
  font-size: 45px;
  line-height: 25px;
  margin-left: 26.5vw;
  margin-top: -3.9vh;
}
.Solo_Eclipse {
  margin-top: 10%;
  margin-left: 4%;
  height: 2%;
}

.Price2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 25px;
  margin-left: 24.6vw;
  margin-top: -8.2vh;
}

.Price3{
    font-weight: bold;
    font-size: 45px;
    line-height: 25px;
    margin-left: 26.3vw;
    margin-top: -8.5vh;
}
.Total {
  font-weight: normal;
  font-size: 42px;
  line-height: 25px;
  margin-top: 23vh;
  margin-left: 4vw;
}

.Total_Sum {
  font-weight: bold;
  font-size: 45px;
  line-height: 25px;
  margin-left: 23.5vw;
  margin-top: -4.1vh;
}

.Total2 {
  font-weight: normal;
  font-size: 42px;
  line-height: 25px;
  margin-top: 35.6vh;
  margin-left: 4vw;
}

.Price4 {
  font-weight: bold;
  font-size: 45px;
  line-height: 25px;
  margin-left: 24.6vw;
  margin-top: -4vh;
}

.Blue_Eclipse2{
  margin-top: 6.6vh;
  margin-left: 4%;
  height: 1.5%;
}
.Pink_Eclipse2{
  margin-top: 6.8vh;
  margin-left: 2%;
  height: 1.5%;   
}

.Price5{

    font-weight: bold;
    font-size: 45px;
    line-height: 25px;
    margin-left: 24.6vw;
    margin-top: -8.4vh;
  
}