<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id = "Customer1">

        <p class="Name">Giorgos</p>
        <hr id="Horizotical_line" />
        <img src="../../../assets/images/Ellipse 11.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 28.png" class="Green_Eclipse" />

        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <img src="../../../assets/images/Ellipse 12.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Pita Gyro<br> <br> Kotopoulo</p>
        <p class="Price2">3,5€</p>


        <br> <br>
        <img src="../../../assets/images/Ellipse 11.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <p class="Item_Name">1x Pizza Margarita</p>
        <p class="Price">8€</p>


      <br>
        <img src="../../../assets/images/Ellipse 12.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Krema sokolata <br> <br> banana</p>
        <p class="Price3">6€</p>

        <p class="Total">Total</p>

        <p class="Total_Sum">20,5€</p>


    </div>

    <div id = "Customer2">
        <p class = "Name">Despoina</p>
        <hr id="Horizotical_line_Despoina" />

        <img src="../../../assets/images/Ellipse 27.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 11.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 28.png" class="Green_Eclipse" />
        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <img src="../../../assets/images/Ellipse 14.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Pizza Anana</p>
        <p class="Price4">8,5€</p>

        <br>
        <img src="../../../assets/images/Ellipse 27.png" class="Blue_Eclipse2" />
        <img src="../../../assets/images/Ellipse 11.png" class="Pink_Eclipse2" />
        <p class="Item_Name">1x Pizza Margarita</p>
        <p class="Price">8€</p>

        <p class="Total2">Total</p>

        <p class="Total_Sum">19,5€</p>
    </div>

    <div id= "Customer3">
        <p class ="Name"> Kwstas</p>
        <hr id="Horizotical_line_Kwstas" />

        <img src="../../../assets/images/Ellipse 28.png" class="Blue_Eclipse" />
        <img src="../../../assets/images/Ellipse 27.png" class="Pink_Eclipse" />
        <img src="../../../assets/images/Ellipse 11.png" class="Green_Eclipse" />
        <p class="Item_Name">1x Ceasar's Salad</p>
        <p class="Price">3€</p>

        <img src="../../../assets/images/images/../../../assets/images/Ellipse 18.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Fileto Kotopoulo <br> <br> merida</p>
        <p class="Price5">7,5€</p>

        <br> <br>
        <img src="../../../assets/images/images/../../../assets/images/Ellipse 18.png" class="Solo_Eclipse" />
        <p class="Item_Name">1x Coca-Cola</p>
        <p class="Price4">1,5€</p>


        <p class="Total2">Total</p>

        <p class="Total_Sum">12€</p>


    </div>
</body>
</html>