<div class="back">
    <img class="backimg" src="../../../assets/backburgerscut.jpg"/>
    <!-- <div class="restaus"> -->
        <nav>
        <ul  class="restauslist">
            <li class="restlistitem">skata</li>
            <li class="restlistitem">fata</li>
            <li class="restlistitem">mataaa</li>
            <li class="restlistitem">patatta</li>
            <li class="restlistitem">potato</li>
            <li class="restlistitem">potato</li>
            <li class="restlistitem">potato</li>
            <li class="restlistitem">potato</li>
            <li class="restlistitem">potato</li>
            <li class="restlistitem">potato</li>
           


        </ul>
    </nav>
    <!-- </div> -->
    <div class="floatback"><button class="yellowbutt">ORDER</button><div>
</div>