.modal-footer button{
    padding-left: 10vw;
    padding-right: 10vw;
}
.row{
    flex-wrap: unset;;

}
.card{
    border:none!important;;
}
.modal-body{
    border-bottom: 1px solid #dee2e6; 

}

.col-sm-6{
    text-align: left;
}
.col-sm-2{
    text-align: right;
}

.list-group-item{
    border:none!important;;
    animation: all 1s;

}

#total{
    text-align: right;
    padding-left:1.25*16px + 15px;
}
.modal-footer{
    border:none!important;;
    text-align: center;
    display: unset;
}