<div class="back">
    <img class="backimg" src="../../../assets/backburgerscut.jpg"/>
    <p class="instruction">Your Votes</p>
    <div class="scroll">

            <div class="choices">
                <div class="dot" (click)="changestate1()"></div>
                <p class="cuiz">Krassas</p>
            </div>
            <div class="choices" >
                <div class="dot" (click)="changestate2()"></div>
                <p class="cuiz">Xovoli</p>

            </div>
            <div class="choices">
                <div class="dot"></div>
                <p class="cuiz">Gyrogonia</p>

            </div>
            <p class="wait">Wait for everyone to finish voting</p>
            <div class="waitusers">
                <div class="wuser">
                        <div id="loadercont">
                            <div id="loader1"> </div>
                                    <img id="checkicon1" src="../../../assets/checkbox.jpg">
                           
                        </div>
                        <img class="userav" src="../../../assets/Giorgos.png">
                        <p style="text-align:center;">Giorgos</p>

                </div>
                <div class="wuser" >
                        <div id="loadercont">
                            <div id="loader2"></div>
                                <img id="checkicon2" src="../../../assets/checkbox.jpg">
                        
                    </div>
                        <img class="userav" src="../../../assets/Kostas.png">
                        <p style="text-align:center;">Kostas</p>

                </div>
            </div>
    </div>
</div>