<div class="back">
        <img class="backimg" src="../../../assets/backburgerscut.jpg"/>
        <p class="instruction">Choose up to 3 cuisines</p>
        <!-- <div class="restaus"> -->
            <nav class="scroll">
          
                    <div class="row">
                            <div class="column" >
                                <p class="cuisname">Burgers</p>
                                <div class="layer">
                                <img class="backcuis" src="../../../assets/burg.png"/>

                              </div>

                            </div>
                            <div class="column" >
                                <p class="cuisname">Pizza</p>

                                <div class="layer">
                                    <img class="backcuis" src="../../../assets/pizza.jpg"/>
                                </div>
                            </div>
                            <div class="column" >
                                <p class="cuisname">Souvlaki</p>

                                <div class="layer">
                                    <img class="backcuis" src="../../../assets/guros.jpg"/>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="column" >
                                <p class="cuisname">Crepe</p>

                                <div class="layer">
                                    <img class="backcuis" src="../../../assets/krepa.jpg"/>
                                </div>
                            </div>
                            <div class="column" >
                                <p class="cuisname">Italian</p>

                                <div class="layer">
                                  <img class="backcuis" src="../../../assets/pasta.jpg"/>
                                </div>  
                            </div>
                            <div class="column" >
                                <p class="cuisname">Mexican</p>

                                <div class="layer">
                                  <img class="backcuis" src="../../../assets/mex.jpg"/>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                                <div class="column" >
                                    <p class="cuisname">Coffee</p>

                                    <div class="layer">
                                      <img class="backcuis" src="../../../assets/coffee.jpg"/>
                                    </div>
                              </div>
                              <div class="column" >
                                  <p class="cuisname">Sushi</p>

                                  <div class="layer">
                                      <img class="backcuis" src="../../../assets/sush.jpg"/>
                                  </div>
                              </div>
                                <div class="column" >
                                    <p class="cuisname">Sandwiches</p>

                                  <div class="layer">
                                    <img class="backcuis" src="../../../assets/sand.jpg"/>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                    <div class="column" >
                                        <p class="cuisname">Chinese</p>

                                      <div class="layer">  
                                        <img class="backcuis" src="../../../assets/china.jpg"/>
                                      </div>
                                    </div>
                                    <div class="column" >
                                        <p class="cuisname">Donuts</p>

                                      <div class="layer">
                                        <img class="backcuis" src="../../../assets/donuts.jpg"/>
                                      </div>
                                    </div>
                                    <div class="column" >
                                        <p class="cuisname">Grill</p>

                                      <div class="layer">
                                        <img class="backcuis" src="../../../assets/grill.jpg"/>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                      <div class="column" >
                                          <p class="cuisname">Salads</p>
  
                                        <div class="layer">  
                                          <img class="backcuis" src="../../../assets/salad.jpg"/>
                                        </div>
                                      </div>
                                      <div class="column" >
                                          <p class="cuisname">Juices</p>
  
                                        <div class="layer">
                                          <img class="backcuis" src="../../../assets/juice.jpg"/>
                                        </div>
                                      </div>
                                      <div class="column" >
                                          <p class="cuisname">Sweets</p>
  
                                        <div class="layer">
                                          <img class="backcuis" src="../../../assets/sweets.jpg"/>
                                        </div>
                                      </div>
                                    </div>



        </nav>
        <!-- </div> -->
        <div class="floatback"><button class="yellowbutt" [routerLink]="['/stateofcuisine']">VOTE</button><div>
    </div>