<div class="back">
        <img class="backimg" src="../../../assets/backburgerscut.jpg"/>
        <p class="instruction">Choose up to 3 cuisines</p>
        <!-- <div class="restaus"> -->
            <nav class="scroll">
          
                    <div class="row">
                            <label class="column" >
                                <p class="cuisname">Burgers</p>
                                <input type="checkbox">
                                <span class="checkmark">
                                <div class="layer">
                                   
                                    <img class="backcuis" src="../../../assets/burg.png"/>
                                </div>
                                  </span>

                                </label>
                            <label class="column" >
                                <p class="cuisname">Pizza</p>
                                <input type="checkbox">
                                <span class="checkmark">
                                <div class="layer">
                                 
                                    <img class="backcuis" src="../../../assets/pizza.jpg"/>
                                </div>

                                  </span>
                                </label>
                            <label class="column" >
                                <p class="cuisname">Souvlaki</p>
                                <input type="checkbox">
                                <span class="checkmark">
                                <div class="layer">
                                    
                                    <img class="backcuis" src="../../../assets/guros.jpg"/>
                                </div>
                              </span>
                            </label>
                          </div>

                          <div class="row">
                            <label class="column" >
                                <p class="cuisname">Crepe</p>
                                <input type="checkbox">
                                <span class="checkmark">
                                <div class="layer">
                                    <img class="backcuis" src="../../../assets/krepa.jpg"/>
                                  </div>
                                </span>
                              </label>
                              <label class="column" >
                                  <p class="cuisname">Italian</p>
                                  <input type="checkbox">
                                  <span class="checkmark">
                                  <div class="layer">
                                      <img class="backcuis" src="../../../assets/pasta.jpg"/>
                                    </div>
                                  </span>
                                </label>
                                <label class="column" >
                                    <p class="cuisname">Mexican</p>
                                    <input type="checkbox">
                                    <span class="checkmark">
                                    <div class="layer">
                                        <img class="backcuis" src="../../../assets/mex.jpg"/>
                                      </div>
                                    </span>
                                  </label>
                          </div>
                          <div class="row">
                              <label class="column" >
                                  <p class="cuisname">Coffee</p>
                                  <input type="checkbox">
                                  <span class="checkmark">
                                  <div class="layer">
                                      <img class="backcuis" src="../../../assets/coffee.jpg"/>
                                    </div>
                                  </span>
                                </label>
                                <label class="column" >
                                    <p class="cuisname">Sushi</p>
                                    <input type="checkbox">
                                    <span class="checkmark">
                                    <div class="layer">
                                        <img class="backcuis" src="../../../assets/sush.jpg"/>
                                      </div>
                                    </span>
                                  </label>
                                  <label class="column" >
                                      <p class="cuisname">Sandwiches</p>
                                      <input type="checkbox">
                                      <span class="checkmark">
                                      <div class="layer">
                                          <img class="backcuis" src="../../../assets/sand.jpg"/>
                                        </div>
                                      </span>
                                    </label>
                              </div>
                              <div class="row">
                                  <label class="column" >
                                      <p class="cuisname">Chinese</p>
                                      <input type="checkbox">
                                      <span class="checkmark">
                                      <div class="layer">
                                          <img class="backcuis" src="../../../assets/china.jpg"/>
                                        </div>
                                      </span>
                                    </label>
                                    <label class="column" >
                                        <p class="cuisname">Donuts</p>
                                        <input type="checkbox">
                                        <span class="checkmark">
                                        <div class="layer">
                                            <img class="backcuis" src="../../../assets/donuts.jpg"/>
                                          </div>
                                        </span>
                                      </label>
                                      <label class="column" >
                                          <p class="cuisname">Grill</p>
                                          <input type="checkbox">
                                          <span class="checkmark">
                                          <div class="layer">
                                              <img class="backcuis" src="../../../assets/grill.jpg"/>
                                            </div>
                                          </span>
                                        </label>
                                  </div>
                                  <div class="row">
                                      <label class="column" >
                                          <p class="cuisname">Salads</p>
                                          <input type="checkbox">
                                          <span class="checkmark">
                                          <div class="layer">
                                              <img class="backcuis" src="../../../assets/salad.jpg"/>
                                            </div>
                                          </span>
                                        </label>
                                        <label class="column" >
                                            <p class="cuisname">Juices</p>
                                            <input type="checkbox">
                                            <span class="checkmark">
                                            <div class="layer">
                                                <img class="backcuis" src="../../../assets/juice.jpg"/>
                                              </div>
                                            </span>
                                          </label>
                                          <label class="column" >
                                              <p class="cuisname">Sweets</p>
                                              <input type="checkbox">
                                              <span class="checkmark">
                                              <div class="layer">
                                                  <img class="backcuis" src="../../../assets/sweets.jpg"/>
                                                </div>
                                              </span>
                                            </label>
                                    </div>



        </nav>
        <!-- </div> -->
        <div class="floatback"><button class="yellowbutt" [routerLink]="['/stateofcuisine']">Vote</button><div>
    </div>