<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />


    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <p id="Restaurant_Voiting">Restaurant Voting</p>

    <div  id="Main_Row">
      <p id="Votes">Votes</p>
      <img src ="../../../assets/images/Restaurant_Voting.png" id ="image">
    </div>
  </body>
</html>
