
  #Restaurant_Voiting {
    text-align: center;
    font-size: 450%;
    color: white;

  }
  
  #Main_Row {
    margin-top: 1.2%;
    width: 95vw;
    height: 82vh;
    margin-left: 2%;
    border-radius: 8px 8px 0px 0px;
    background-color: #fffbf4;
  }
  
  #Votes {
    text-align: center;
    font-size: 350%;
    color: #414141;
  }
  
  .Place_Holder {
    margin-left: 0%;
  }
  
  #Horizotical_l {
    margin-left: -0.8%;
    margin-top: 31.8%;
  }
  
  #Ka8eti {
    margin-left: 0%;
    margin-top: 4%;
  }
  
  #Score1 {
    margin-top: 0%;
    margin-left: -53%;
  }
  
  #Score2 {
    margin-top: -2%;
    margin-left: -3.1%;
  }
  
  #Score3 {
    margin-top: -15%;
    margin-left: -3.1%;
  }
  
  .Rectangle2 {
    margin-top: 15.1%;
    margin-left: 4.5%;
  }
  
  .Rectangle1 {
    margin-top: 22.2%;
    margin-left: 4.5%;
  }
  
  .Rectangle3 {
    margin-top: 6.4%;
    margin-left: 4.5%;
  }
  
  .Shop_icons {
    margin-top: 1.5%;
    margin-left: 28.5%;
  }
  
  .Shop_icons_main {
    margin-left: 3.5%;
  }
  
  .Shop_icons_main1 {
    margin-left: 2.8%;
  }
  
  .Shop_icons_main2 {
    margin-left: 2%;
  }
  #image{
    margin-left: 25vw;
    margin-top: 5vh;
  }

  