body {
    width: 99vw;
    background-image: url("../../../assets/images/background-frame-with-fast-food-and-dessert-vector-20829847\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #Restaurant_Voiting {
    text-align: center;
    font-size: 450%;
    color: white;
    margin-top: 3%;
    margin-left: 2.5%;
  }
  
  #Main_Row {
    margin-top: 1.2%;
    width: 95vw;
    height: 82vh;
    margin-left: 2%;
    border-radius: 8px 8px 0px 0px;
    background-color: #fffbf4;
  }
  
  #Votes {
    text-align: center;
    font-size: 350%;
    color: #414141;
  }
  
  #image{
    margin-left: 25vw;
    margin-top: 5vh;
  }