<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" , href="Tv_StatisticsMain.css" />

    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <p id="Restaurant_Voiting">Restaurant Voiting</p>

    <div class="row" id="Main_Row">
      <p id="Votes">Votes</p>

      <div class="Place_Holder">
        <img src="../../../assets/images/Line 34.png" id="Ka8eti" />

        <img src="../../../assets/images/Line 33.png" id="Horizotical_l" />

        <img src="../../../assets/images/Group 7.png" id="Score1" />
        <img src="../../../assets/images/Group 8.png" id="Score2" />
        <img src="../../../assets/images/Group 9.png" id="Score3" />
        <img src="../../../assets/images/Orange-Red_Rectangle.png" class="Rectangle2" />
        <img src="../../../assets/images/Pink_Rectangle.png" class="Rectangle1" />

        <img src="../../../assets/images/Green_Rectangle.png" class="Rectangle2" />
        <img src="../../../assets/images/Orange_Rectangle.png" class="Rectangle3" />
        <img src="../../../assets/images/Blue_Rectangle.png" class="Rectangle1" />
      </div>
      <img src="../../../assets/images/Pita_Pappou.png" class="Shop_icons" />
      <img src="../../../assets/images/Gyrogonia.png" class="Shop_icons_main" />
      <img src="../../../assets/images/Xoboli.png" class="Shop_icons_main1" />
      <img src="../../../assets/images/Krassas.png" class="Shop_icons_main2" />
      <img src="../../../assets/images/Pita_Pappou.png" class="Shop_icons_main2" />
    </div>
  </body>
</html>
